---
import Layout from '../../layouts/Layout.astro';

export function getStaticPaths() {
  return[
    {params: {category: 'perros'}},
    {params: {category: 'gatos'}},
    {params: {category: 'exoticos'}},
  ]
}

const { category } = Astro.params;
---

<Layout title=`Articulos y accesorios para ${category}`>
  <h1>aqui catalogo de { category }</h1>
</Layout>