---
export const prerender = false;

import Layout from "@/layouts/Layout.astro";
import LayoutContent from "@/layouts/LayoutContent.astro";
import { apiListCatalogoProducts } from '@/api/apiProducts'
// components
import CardProd from '@/components/CardProd.astro';
import UTitlePage from '@/ui/titles/UTitlePage.astro';

const parsedUrl = new URL(Astro.request.url);
const page = parsedUrl.searchParams.get("page") || '1';

const listProducts = await apiListCatalogoProducts(parseInt(page))

// Obtener el valor del parámetro 'kword'

---
<Layout title="Accesorios para Mascotas">
  <LayoutContent>
    <UTitlePage 
      title="consiente a tus mascotas"
    />
    <div class="grid gap-4 px-2 grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5">
      { listProducts.map( (product) => (
        <CardProd product={product} />
      ) ) }
    </div>
    { listProducts.length < 1 ? <p class="w-full text-center font-ffPrimary text-colorBgFront font-bold">No pudimos encontrar mas productos</p>: null}
  </LayoutContent>
</Layout>