---
import BestSellerMenu from '@/components/home/BestSellerMenu.vue';
import ProductCard from "@/ui/ProductCard.astro"
const listBestSeller = [1,2,3,4,6,7,8]
---
<div>
  <h3 class="font-ffText font-bold text-3xl text-center my-10 text-colorText">Articulos Más Vendidos</h3>
  <!-- aqui un componente de 3 pestañas -->
  <BestSellerMenu client:visible={{rootMargin: "100px"}}/>
   <!-- fin pestañas dinamicas -->
  <div id="betSeller" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-5">
    {
      listBestSeller.map((item, index) => (
        <ProductCard 
          img="https://servicios.neunapp.com/media/producto/pet-01-removebg-preview.png"
          name="Nombre del producto"
          link="#"
          price={120.52}
        />
      ))
    }
  </div>
</div>