---
import BestSellerMenu from '@/components/home/BestSellerMenu.vue';
import ProductCard from "@/ui/ProductCard.astro"
// ui
import UTitleSection from '@/ui/titles/UTitleSection.astro';
//props
const listBestSeller = [1,2,3,4,6,7,8]
---
<div>
  <UTitleSection text="Articulos Más Vendidos" />
  <!-- aqui un componente de 3 pestañas -->
  <BestSellerMenu client:visible={{rootMargin: "100px"}}/>
   <!-- fin pestañas dinamicas -->
  <div id="betSeller" class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5">
    {
      listBestSeller.map((item, index) => (
        <ProductCard 
          img="https://servicios.neunapp.com/media/producto/pet-01-removebg-preview.png"
          name="Nombre del producto"
          link="#"
          price={120.52}
        />
      ))
    }
  </div>
</div>